@font-face {
    font-family: luffy;
    src:url(../fonts/AlexBrush-Regular.ttf);
}
/* main */
body {
    width: 100%;
    position: absolute;
    top: 1000px;
    background: #2C94C0;
    padding: 0 15px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 30px;
}
p {
    font-size: 17px;
}
::selection {
    color: white;
    background: #ff8080;
}
.center {
    text-align: center;
}
.col-xs-12 {
    padding: 0;
}
/* gravatar */
 .gravatar {
    width: 137px;
    height: 137px;
    margin: 20px auto;
    border-radius: 50%;
    border:3px solid white;
    box-shadow:0 0 15px black;
    background: url(../images/gravatar.png) no-repeat;
}
.gravatar:hover {
    -webkit-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}
@-webkit-keyframes rotating {
    to {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
/* navbar */
 .navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-toggle {
    background-color: rgba(255,255,255,0.5);
    float: none;
    margin-left: 50%;
    margin-top: 25px;
    left: -22px;
    border-color:transparent;
}
#bs-example-navbar-collapse-1 {
    overflow: hidden;
}
.navbar-nav>li {
    margin-top: 2px;
    margin-left: 2px;
}
.navbar-nav>li>a {
    color: #4B4B4B !important;
    text-align: center;
    border-radius: 5px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #2EA8E2;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: #2EA8E2;
}
/* nav icon-bar */
.rotate-icon {
    -webkit-animation: rotate .6s;
    -o-animation: rotate .6s;
    animation: rotate .6s;
}
 @-webkit-keyframes rotate {
    to {-webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* big navbar */
 @media (min-width:768px) {
    .navbar-nav {
        float:left;
        margin: 0;
        margin-left: 50%;
        position: relative;
        left: -150px;
    }
    .big-nav {
        float: none;
        margin-left: 50%;
        left: -137px;
        position: absolute;
    }
}
/* list */
.list {
    display: none;
}
.list-active {
    display: block;
}
.panel-primary>.panel-heading {
    font-family: luffy;
    font-size: 30px;
    letter-spacing: 3px;
}
/* posts list */
.posts-list {
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    background: url(../images/wrapper_bg.jpg) repeat;
}
.posts-list ul {
    padding: 15px 0;
}
.posts-list li{
    line-height: 35px;
    text-align: center;
    list-style: none;
    font-size: 20px;
}
.posts-list li>a {
    width: 106%;
    display: block;
    color: #AB42AF;
    margin: 5px;
    border-radius: 3px;
    margin-left: -3%;
}
.posts-list li>a:hover {
    background: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.badge {
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: baseline;
  text-align: center;
}

.list-group-item { 
  position: relative;
  zoom: 1; 
  font-family: Georgia;
}
.list-group-item:after { 
  content: '\0020'; 
  display: block; 
  clear: both; 
  line-height: 0; 
  visibility: visible; 
}
pre {
    border-radius: 7px;
}
/* panel */
.panel-primary {
    box-shadow:0 0 10px black; 
}
/* article */
 .article-list p {
    text-align: center;
}
.article-list p:before {
}
article {
    border:5px solid white;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 15px rgb(53, 53, 53);
    border-radius: 5px;
    padding: 10px 10px;
}
article h1 {
    text-align: center;
    font-family: luffy;
    font-size: 50px;
    color: #FFFFFF;
    padding-bottom: 10px;
    padding-top: 25px;
    border-bottom: 5px solid white;
    background-color: #1f2c39;
    margin: -10px;
    margin-bottom: 50px;
}
article a {
    color: #106CBD;
}
article img {
    box-shadow: 0 0 15px black;
}
/* footer */
 footer p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    bottom: 0;
}
/* Comment */
.comment {
    margin-top: 50px;
}
#disqus_thread {
    text-align: center;
}
.show-commend {
    width: 30%;
}
/* BackTop */
#backtop {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 5px;
    z-index: 88;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
    filter:alpha(opacity: 500);
    background-color: white;
    overflow: hidden;
}
#backtop i {
    position: absolute;
    left:0;
    width: 50px;
    font-size: 30px;
    line-height: 50px;
}
/* MIT */
.MIT p {
    font-family: luffy;
}
.MIT a{
    padding-right: 3px;
    color: white;
}