@font-face {
    font-family: luffy;
    src:url(../fonts/AlexBrush-Regular.ttf);
}
body {
    overflow: hidden;
    position: absolute;
    top: 1000px;
    background: #559B9D;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
p {
    font-size: 30px;
    font-family: luffy;
}
.center {
    text-align: center;
}
/* gravatar */
 .gravatar {
    width: 137px;
    height: 137px;
    margin: 20px auto;
    border-radius: 50%;
    border:3px solid white;
    box-shadow:0 0 15px black;
    background: url(../images/gravatar.png) no-repeat;
}
.gravatar:hover {
    -webkit-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}
@-webkit-keyframes rotating {
    to {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
/* navbar */
 .navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-toggle {
    background-color: #41B4D1;
    float: none;
    margin-left: 50%;
    margin-top: 25px;
    left: -22px;
    border-color:transparent;
}
#bs-example-navbar-collapse-1 {
    overflow: hidden;
}
.navbar-nav>li {
    margin-top: 2px;
    margin-left: 2px;
}
.navbar-nav>li>a {
    color: #4B4B4B !important;
    text-align: center;
    border-radius: 5px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #2EA8E2;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: #2EA8E2;
}
/* nav icon-bar */
.rotate-icon {
    -webkit-animation: rotate .6s;
    -o-animation: rotate .6s;
    animation: rotate .6s;
}
 @-webkit-keyframes rotate {
    to {-webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* big navbar */
 @media (min-width:768px) {
    .navbar-nav {
        float:left;
        margin: 0;
        margin-left: 50%;
        position: relative;
        left: -150px;
    }
    .big-nav {
        float: none;
        margin-left: 50%;
        left: -137px;
        position: absolute;
    }
}
/* article */
 .article-list p {
    text-align: center;
}
.article-list p:before {
}
article {
    border:5px solid white;
    margin-bottom: 30px;
    background: #41B4D1;
    box-shadow: 5px 5px 15px rgb(53, 53, 53);
    border-radius: 5px;
}
article h1 {
    font-family: luffy;
    font-weight: bold;
    font-size: 50px;
    color:#6BC28C;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    text-shadow: 5px 5px 5px black;
}
article p {
    margin-top: 30px;
    padding-left: 10px;
}
article img {
    box-shadow: 0 0 15px black;
}
/* footer */
 footer p {
    font-size: 25px;
    font-weight: bold;
    border-top: 1px solid gray;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    bottom: 0;
    height: 25px;
}
/* MIT */
.MIT {
    padding-right: 3px;
    color: white;
}
/* scrollbar */
.wrapper {
    padding: 0 15px !important;
}
/* backtop*/
/*#backtop {
    width:55px;
    height:55px;
    position:fixed;
    right:50px;
    bottom:50px;
    background:blue;  
}*/
