<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active bg1"><a href="/">首页</a>
            </li>
            <li class="bg2"><a href="/#life">生活</a>
            </li>
            <li class="bg3"><a href="/#notes">笔记</a>
            </li>
            <li class="bg4"><a href="/#tools">工具</a>
            </li>
            <li class="bg5"><a href="/about/index.html">关于</a>
            </li>
        </ul>
    </div>
</nav>
