<!doctype html>
<html lang="zh-cn">
<head>
    {% include header.html %}
</head>
<body>
    <script>
    NProgress.start();
    </script>
    <header>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="gravatar">
                </div>
                <script>
                NProgress.set(0.3);
                </script>
                    {% include navbar.html %}
            </div>
        </div>
    </header>
    {% include container.html %}
    {% include disqus.html %}
    <div id="backtop" title="回到顶部"><i class="fa fa-angle-up"></i></div>
    {% include footer.html %}
    <script>
    NProgress.done();
    </script>
</body>

</html>
