<!doctype html>
<html lang="zh-cn">

<head>
    {% include header.html %}
</head>

<body>
    <script>
    NProgress.start();
    </script>
    <header>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="gravatar">
                </div>
                <script>
                NProgress.set(0.3);
                </script>
                {% include navbar.html %}
                {% include container.html %}
            </div>
        </div>
    </header>
    </div>
    </div>
    {% include disqus.html %}
    </div>
    {% include footer.html %}
    <script>
    NProgress.done();
    </script>
</body>

</html>
