<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Monkey D Luffy</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/nprogress.css">
    <link rel="stylesheet" href="css/main.css">
    <script src='js/jquery.js'></script>
    <script src='js/nprogress.js'></script>
</head>

<body>
        <script>
        NProgress.start();
        </script>
        <header>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gravatar">
                    </div>
                    <script>
                    NProgress.set(0.3);
                    </script>
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active bg1"><a href="#">首页</a>
                                </li>
                                <li class="bg2"><a href="#">测试</a>
                                </li>
                                <li class="bg3"><a href="#">测试</a>
                                </li>
                                <li class="bg4"><a href="#">测试</a>
                                </li>
                                <li class="bg5"><a href="#">测试</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                    <!-- <div class="article-list">
                        <a href="#"><p>Lorem ipsum dolor sit amet</p></a>
                        <a href="#"><p>Lorem ipsum dolor sit amet</p></a>
                        <a href="#"><p>Lorem ipsum dolor sit amet</p></a>
                    </div> -->
                    <article>
                        <h1>Hello</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, rem, facilis, quas, molestias mollitia facere ipsam maxime suscipit vel laudantium itaque possimus numquam sunt hic ipsa ducimus minus. Sint, totam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum repellendus fugiat doloremque animi quaerat! Facere, fugiat, amet eligendi perspiciatis libero voluptate corrupti iusto cumque nihil fugit cum atque nobis modi.</p>
                          <img src="images/gravatar.png" alt="luffy">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate numquam atque dolore molestias minima sit temporibus delectus laborum. Sit, porro pariatur cupiditate ex quaerat ea harum iure numquam iusto exercitationem.</p>
                    </article>
                    <article>
                        <h1>Hello</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, rem, facilis, quas, molestias mollitia facere ipsam maxime suscipit vel laudantium itaque possimus numquam sunt hic ipsa ducimus minus. Sint, totam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum repellendus fugiat doloremque animi quaerat! Facere, fugiat, amet eligendi perspiciatis libero voluptate corrupti iusto cumque nihil fugit cum atque nobis modi.</p>
                    </article>
                    <article>
                        <h1>Hello</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, rem, facilis, quas, molestias mollitia facere ipsam maxime suscipit vel laudantium itaque possimus numquam sunt hic ipsa ducimus minus. Sint, totam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum repellendus fugiat doloremque animi quaerat! Facere, fugiat, amet eligendi perspiciatis libero voluptate corrupti iusto cumque nihil fugit cum atque nobis modi.</p>
                    </article>
                </div>
            </div>
        </div>
            <footer>
                <div id="backtop"></div>
                <p>2013 Paul King. Powered by <a class="MIT" href="http://jekyllrb.com/">Jekyll</a>. Theme Frankies by <a class="MIT" href="https://github.com/Aufree/">Aufree</a>.</p>
                <script src="js/animate.js"></script>
                <script src="js/bootstrap.js"></script>
                <script src="js/main.js"></script>
            </footer>
            <script>
            NProgress.done();
            </script>
    </body>

    </html>
